{% load static %}
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            Twitter REST API: {% block title %}{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon shortcut" href="/static/images/bird.ico?x=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/jquery.datetimepicker.min.css"/>
        <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/site.css"/>
    </head>

    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">Twitter REST API</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if request.get_full_path == "/battle" %}class="active"{% endif %}><a href="/battle">Hashtag Battle</a></li>
                        <li {% if request.get_full_path == "/tweet" %}class="active"{% endif %}><a href="/tweet">Post a Tweet</a></li>
                        <li {% if request.get_full_path == "/query" %}class="active"{% endif %}><a href="/query">Query Tweets</a></li>
                        <li {% if request.get_full_path == "/media/photo" %}class="active"{% endif %}><a href="/media/photo">Upload photo</a></li>
                        <li {% if request.get_full_path == "/media/video" %}class="active"{% endif %}><a href="/media/video">Upload video</a></li>
                        <li {% if request.get_full_path == "/profile" %}class="active"{% endif %}><a href="/profile">Update profile photo</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li {% if request.get_full_path == "/media/inspector" %}class="active"{% endif %}>
                            <a href="/media/inspector">Media inspector &nbsp;<span class="glyphicon glyphicon-facetime-video"></span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Logged in as {{request.user.username}}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block script_base %}
            <script type="text/javascript" src="/static/js/jquery/jquery-2.1.3.min.js"></script>
            <script type="text/javascript" src="/static/js/jquery/jquery.datetimepicker.full.js"></script>
            <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
            <script type="text/javascript" src="/static/js/renderjson.js"></script>

            {% block extra_script %}{% endblock %}
        {% endblock %}

    </body>
</HTML>